<div ng-controller="AppCtrl" layout="vertical" layout-padding>
	<material-circular-progress mode="determinate" diameter="25" value="{{determinateValue}}"></material-circular-progress>
	<material-circular-progress mode="determinate" diameter="50" value="{{determinateValue}}"></material-circular-progress>
	<material-circular-progress mode="determinate" diameter="75" value="{{determinateValue}}"></material-circular-progress>
  <material-circular-progress mode="determinate" value="{{determinateValue}}"></material-circular-progress>
</div>